<html>
<head>
<link href="/stylesheets/tmp_users/custom.css" rel="stylesheet">
<style>
body {
	width:550px;
	height:150px;
	margin:0 auto;
	z-index:2;
	position:relative;
	background-color:#FFFFFF;
	text-align:center;
	
}
</style>
</head>
<body>
<br>
Oops! Something Went Wrong. Try again?
<button href="/api/v1/coupon_form" class="btn btn-success">Get Reward!</button>
</div>
</body>
</html>
