<html>
<head>
<link href="/stylesheets/tmp_users/custom.css" rel="stylesheet">
<style>
body {
	width:550px;
	height:150px;
	margin:0 auto;
	z-index:2;
	position:relative;
	background-color:#FFFFFF;
	text-align:center;

}
</style>
</head>
<body>
<br>
Sorry, this coupon can only be received every 24 hours.
Please wait <%= time_left %> hours before retrying.

</div>
</body>
</html>
