<html>
<head>
<link href="/stylesheets/tmp_users/custom.css" rel="stylesheet">
<style>
body {
	width:550px;
	height:150px;
	margin:0 auto;
	z-index:2;
	position:relative;
	background-color:#FFFFFF;
	text-align:center;
	
}
</style>
</head>
<body>
<br>
  <div style="font-size:1.5em">
Reward Successfully Sent to Your Email! Congratulations!
</div>
</body>
</html>
