<h1>About</h1>
<hr>

<h2>
Hi! bockie is the brain child of several graduate students at UC Berkeley. 
</h2>

<br>

<h2>
We aim to make selling things on the internet as easy as possible.
</h2>

<br>


