<h1>
	FAQs
</h1>
<hr>
<h3>
	How much does this cost?
</h3>
<p>
	We charge 4% + 30 cents for processing fees. We only apply the fee after someone buys your item. No sale. No charge. In addition, there are no setup up fees or hidden charges.
</p>
<br>
<h3>
How often do I get paid?
</h3>
<p>
Processing takes 5 business days.
</p>
<br>
<h3>
Do you accept payout methods other than paypal?
</h3>
<p>
Unfortunately, not yet. You will need a paypal account in order to get paid. However, we are integrating new features. So stay tuned!
</p>
