<!--Company's Home page tab -->
<div class="container">
	<div class="hero-unit" style="background-image:url('/images/test.jpg');font-color:#fff">
		<h1>Sell anything via a link</h1>
		<p>
		<p>Make a shop for your digital stuff in 5 minutes.</p>
		<p>Leverage your social networks. No listing fees.</p>
		<p>Just sign up and upload your things,</p>
		<p>and we will take care of the rest.</p>
		</p>
		<!--<%= alert %>
		<%= render 'companies/sign_in_form' %>-->
		<br>
		<p><h3>Sign up to start selling</h3></p>
		<%= render "companies/sign_up" %>
			<!--or <a data-toggle="modal" href="#myCompanySignInModal">Log In</a>-->
	</div>
</div>
