<!--Company's Home page tab -->
<div class="container">
			<p></p>
<div class="row">
<div class="span6">
							<h2>Sell anything via a link</h2>
							<br>
							<p>Start selling your stuff in 5 minutes!</p>
							<p>Just sign up and post a link,</p>
							<p>and we will take care of the rest.</p>
							<!--<%= alert %>
                              <%= render 'companies/sign_in_form' %>-->

</div>
<div class="span6">
								<br>
								<p><h3>Sign up to Start Selling.</h3></p>

								<%= render "companies/sign_up" %>
								<!--or <a data-toggle="modal" href="#myCompanySignInModal">Log In</a>-->

</div>
</div>
</div>
