<!--Company's Home page tab -->
<div class="container">
	<div class="hero-unit" style="background-image:url('/images/landing.jpg');  background-repeat:no-repeat; background-position:top right;font-color:#fff; background-color:#faf2b8; background-size:100%">
		<h1>Your own store in 3 minutes</h1>
		<p>
		<p>You can leverage your social networks and blogs.</p>
		<p>Simply upload your things, share a link,</p>
		<p>and we will take care of the rest.</p>
		
		</p>
		<!--<%= alert %>
		<%= render 'companies/sign_in_form' %>-->
		<br>
		<p><h3>Sounds too easy? Try it out.</h3></p>
		<%= render "companies/sign_up" %>
			<!--or <a data-toggle="modal" href="#myCompanySignInModal">Log In</a>-->
	</div>
</div>
