<!--Company's Home page tab -->
<div class="container">
	<div class="hero-unit" style="background-image:url('/images/');  background-repeat:no-repeat; background-position:top right;font-color:#fff; background-size:100%">
		<!--background-color:#faf2b8-->
		<h1>Your own store in 30 seconds</h1>
		<p>
		<p>You can leverage your social networks and blogs.</p>
		<p>Simply upload your things, share a link,</p>
		<p>and we will take care of the rest.</p>
		
		</p>
		<br>
		<p><h3>Sounds too easy? Try it out.</h3></p>
		<%= render "companies/sign_up" %>
			<!--or <a data-toggle="modal" href="#myCompanySignInModal">Log In</a>-->
	</div>

</div>
