<ul class="nav nav-pills">
	<li class="<%= @header_edit_password %>">
		<%= link_to 'Edit Password', edit_password_companies_path %>
	</li>
	<li class="<%= @header_bank %>">
		<%= link_to 'Bank Info', bank_companies_path %>
	</li>
</ul>
