<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi Here is Your Reward!</h1>
    <p>
		<img src="<%= @coupon.picture_url %>"></img>
		You coupon code is: 
		qxzf
	<p>
	Just print this out and show it to the merchant
    </p>
    <p>Thanks for playing and game on!</p>
  </body>
</html>
