<!DOCTYPE html>
<html>
<head>
  <title>Bockie</title>
  <%= stylesheet_link_tag "bootstrap.css","bootstrap-responsive.css","font-awesome.css" %>
	<%= javascript_include_tag :all %>

  <%= csrf_meta_tag %>
</head>
<body>
