<div class="container" style="text-align:center;float:center">
<br>
<%= debug(params) if Rails.env.development? %>
Powered by Bockie
<br>
<a href="mailto:admin@bockie.com">Report a problem</a>
</div>
</body>
</html>
