<%= render "single_shop_header" %>
<div id="myoutercontainer" style='position:relative'>
<!--	<div id="myinnercontainer" style='position:absolute; top:50%; margin-top:5%' >-->
<div class="container_shop">
	<br>
	<table style="margin:2em;padding-top:4em;width:100%">
		<tr>
			<td style="width:40%;margin-top:4em;">
				<%= render "product_info" %>
			</td>

			<td style="margin-top:4em;text-align:center">
					<%= render 'credit_card_form' %>
			</td>
		</tr>
	</table>
<br>
</div>
</div>
<%= render "single_shop_footer" %>
