<%= render 'shop_header' %>
Purchases Successful. You should recieve your invoice in your email!

Or go to our website to check our account for all purchase details

<a href='#' class='btn'>Back to Shop</a>
<a href='#' class='btn'>Back to Game</a>
